/* Base styles go here. */

@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
  background-image: url('/static/guitar-bkg-0.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: Helvetica,Helvetica Neue,Arial,Liberation Sans,DejaVu Sans,sans-serif;
  font-size: 14px;
}

.floating-text {
  color: #FAFAFA;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 3px 10px, rgba(0, 0, 0, 0.1) 0px 0px 30px;
}
  
.floating-box {
  background-color: #FAFAFA;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 10px, rgba(0, 0, 0, 0.1) 0px 0px 30px;
  -webkit-shadow:  rgba(0, 0, 0, 0.6) 0px 3px 10px, rgba(0, 0, 0, 0.1) 0px 0px 30px;
  box-shadow:      rgba(0, 0, 0, 0.6) 0px 3px 10px, rgba(0, 0, 0, 0.1) 0px 0px 30px;
  border: 1px solid #DDD;
}

#gutter {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 225px;
}

.gutter-title {
  position: absolute;
  top: 660px;
  left: 22px;
  width: 600px;
  text-align: right;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin:    0 0;
  -ms-transform-origin:     0 0;
  -o-transform-origin:      0 0;
  transform-origin:         0 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform:    rotate(-90deg);
  -ms-transform:     rotate(-90deg);
  -o-transform:      rotate(-90deg);
  transform:         rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  font-family: 'Lobster', cursive;
  font-size: 100px;
  font-weight: 700;
}

.gutter-title.subtitle {
  top: 725px;
  left: 132px;
  font-size: 36px;
}

#gutter-box {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
  font-family: 'Lobster', cursive;
  font-size: 28px;
}

#nav {
  margin-top: 35px;
}

#nav ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 225px;
  width: 100%;
}

#nav li {
  float: left;
  margin: 0 1em 0 0;
}

#nav a {
  text-decoration: none;
  display: block;
  width: 5em;
  padding: 0 0.5em;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 18px;
  color: rgba(250, 250, 250, 0.8);
  border-bottom: 8px solid rgba(250, 250, 250, 0.7);
}

#nav a:hover {
  color: #FAFAFA;
  border-color: #FAFAFA;
}

#content {
  clear: both;
  margin: 0 40px 30px 225px;
  border-top: 0;
  padding: 30px;
  min-height: 1000px;
  min-width: 675px;
}

.badge {
  color: #FFF;
  background-color: #505050;
  border: 1px solid #333;
  padding: 0px 6px 0px 3px;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 0 3px 3px 0;
  font-size: 13px;
  font-style: italic;
}

.badge.required {
  font-style: normal;
  background-color: #333;
}

.badge:hover {
  background-color: #555;
}

.medal {
  background-color: red;
  width: 6px;
  height: 6px;
  line-height: inherit;
  display: inline-block;
  margin: 0 5px 1px 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.medal.grade-1 {
  background-color: #CC9966;
}

.medal.grade-2 {
  background-color: #C5C5C5;
}

.medal.grade-3 {
  background-color: #FFCC00;
}

#wall-post-box {
  float: left;
  width: 400px;
}

#wall-post-textbox {
  float: left;
  margin: 0;
  width: 100%;
  height: 5em;
}

#wall-post-error {
  float: left;
  color: red;
}

#wall-post-button-box {
  float: right;
}

#wall {
  clear: left;
  float: left;
}

.wall-post.private {
  color: blue;
}

.wall-post .poster {
  font-weight: bold;
}

.wall-post .poster:after {
  content: ': ';
}

.wall-post .timestamp {
  color: #888;
}

.wall-post .timestamp:before {
  content: ' @';
}

#wall-load-previous-error {
  clear: left;
  float: left;
  color: red;
}

#wall-load-previous-button {
  clear: left;
  float: left;
}