{% extends "base_track.html" %}

{% load tags %}

{% block tab_title %}{{ track.name|capfirst }} - {{ badge.name|capfirst }}{% endblock %}

{% block head %}
{{ block.super }}
{% load staticfiles %}
<script src="{% static 'wall.js' %}"></script>
<script>
  var userPk = {{ user.pk }};
  var badgePk = {{ badge.pk }};
  var firstName = '{{ user.first_name|lower|escapejs }}';
  var lastName = '{{ user.last_name|lower|escapejs }}';
</script>
{% endblock %}

{% block subtitle %}Badge{% endblock %}

{% block content %}
<h1>Lvl {{ badge.requirement.level.rank }} - {{ badge.name }}</h1>
<p>
<h2>{{ badge.description }}</h2>
<p>
<div id="training">
  {{ badge.training|safe }}
  <div id="verification">
    <h1>Verification</h1>
    <div id="challenge"><strong>Challenge:</strong> {{ badge.challenge }}</div>
    {% if not badge.requires_verification %}
      <!-- Unverified badge form -->
      {% if not is_verified %}
        <div id="complete-badge-form">
          <div id="oath">I, {{ user.first_name }} {{ user.last_name }}, have completed the requirements for this badge.</div>
          <label for="signature-field">Signature:</label>
          <input type="text" id="signature-field" name="signature"></input>
          <br>
          <button id="complete-badge-button" disabled>Complete "{{ badge.name }}"</button>
          <div id="complete-badge-error" class="error"></div>
        </div>
      {% else %}
        Badge already earned! Congrats?
      {% endif %}
    {% else %}
      <!-- Verified badge form -->
      <div id="submit-verification-form">
        <label for="text-proof-field">Text:</label>
        <textarea id="text-proof-field" name="text_proof" rows="5" cols="60"
                  {{ is_verified|yesno:'disabled,' }}>{{ verification.text }}</textarea>
        <br>
        <label for="raw-video-proof-field">YouTube id/URL:</label>
        <input type="text" id="raw-video-proof-field" name="raw_video_proof"
               value="{{ verification.youtube_id }}" {{ is_verified|yesno:'disabled,' }}></input>
        <input type="hidden" id="video-proof-field" name="video_proof"
               value="{{ verification.youtube_id }}"></input>
        <br>
        <iframe id="video-proof-embed" type="text/html" width="320" height="195" frameborder="0"></iframe>
        <br>
        {% if not is_verified %}
          <button id="submit-verification-button">Submit "{{ badge.name }}"</button>
          <button id="update-verification-button">Update "{{ badge.name }}"</button>
          <div id="submit-verification-error" class="error"></div>
        {% endif %}
      </div>
      {% if is_started %}
        {% include 'user_wall.html' with target_user=verification.user verification=verification %}
      {% endif %}
    {% endif %}
  </div>
  {% if not is_started %}
    <div id="start-badge-mask">
      <div>
        {% if user.is_authenticated %}
          <!-- TODO: Change to a "Join this track" button if not already joined. -->
          <button id="start-badge-button">Start "{{ badge.name }}"!</button>
          <div id="start-badge-error" class="error"></div>
        {% else %}
          <button class="request-invite-button">Request an invite to join!</button>
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}

{% block footer_script %}
{{ block.super }}
<script>
  {% if not is_started %}
    $(function () { $('#start-badge-button').click(startBadge); });

    function startBadge() {
      $('#start-badge-button').attr('disabled', true);
      $('#start-badge-error').text('');

      var data = {
        badge_pk: badgePk
      };
      $.post('{% url ajax_start_badge %}', data, function (data) {
        if (data.errors) {
          $('#start-badge-error').text(data.errors.join());
          return;
        }
        $('#start-badge-mask').remove();
        $('#training').css('max-height', 'none');
      }).fail(function () {
        $('#start-badge-error').text('Server error!');
      }).always(function () {
        $('#start-badge-button').removeAttr('disabled');
      });
    }
  {% else %}
    $(function () { $('#training').css('max-height', 'none'); });
  {% endif %}

  {% if not badge.requires_verification and not is_verified %}
    $(function () {
      $('#signature-field').keyup(signatureChanged);
      signatureChanged();
      $('#complete-badge-button').click(completeBadge);
    });

    function signatureChanged() {
      var cleanedText = $('#signature-field').val().toLowerCase().trim();
      if (cleanedText == firstName || cleanedText == lastName ||
          cleanedText == firstName + ' ' + lastName ||
          cleanedText == lastName + ' ' + firstName) {
        $('#complete-badge-button').removeAttr('disabled');
      } else {
        $('#complete-badge-button').attr('disabled', true);
      }
    }

    function completeBadge() {
      $('#complete-badge-button').attr('disabled', true);
      $('#signature-field').attr('disabled', true);
      $('#complete-badge-error').text('');

      var data = {
        badge_pk: badgePk
      };
      $.post('{% url ajax_complete_unverified_badge %}', data, function (data) {
        if (data.errors) {
          $('#complete-badge-error').text(data.errors.join());
          $('#complete-badge-button').removeAttr('disabled');
          $('#signature-field').removeAttr('disabled');
          return;
        }
        $('#complete-badge-form').remove();
        // TODO: add "earned mm/dd/yyyy" text
      }).fail(function () {
        $('#complete-badge-error').text('Server error!');
        $('#complete-badge-button').removeAttr('disabled');
        $('#signature-field').removeAttr('disabled');
      });
    }
  {% elif badge.requires_verification %}
    $(function () {
      {% if not is_verified %}
        $('#raw-video-proof-field').keyup(videoChanged);
        $('#submit-verification-button, #update-verification-button').click(submitVerification);
      {% endif %}

      $('#{{ is_unsubmitted|yesno:'update,submit' }}-verification-button').hide();
      updateVideoPreview();
    });

    var UPDATE_VIDEO_PREVIEW_DELAY_MS = 1000;
    var updateVideoPreviewTimer = null;

    function videoChanged() {
      clearTimeout(updateVideoPreviewTimer);
      updateVideoPreviewTimer = setTimeout(updateVideoPreview, UPDATE_VIDEO_PREVIEW_DELAY_MS);
    }

    function updateVideoPreview() {
      $('#submit-verification-error').text('');

      var text = $('#raw-video-proof-field').val().trim();
      var urlRegex = /(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?\/ ]{11})/i;
      var urlMatches = urlRegex.exec(text);
      var videoId = urlMatches ? urlMatches[1] : /^[a-zA-Z0-9_-]{11}$/.exec(text);
      $('#video-proof-field').val(videoId || '');

      if (videoId || !text) {
        enable($('#submit-verification-button, #update-verification-button'));
      } else if (text) {
        $('#submit-verification-error').text('Invalid YouTube id or URL!');
        disable($('#submit-verification-button, #update-verification-button'));
      }

      var $videoEmbed = $('#video-proof-embed');
      $videoEmbed.attr('src',
                       '//www.youtube.com/embed/' + (videoId || '00000000000') +
                       '?wmode=transparent');
      if (text) {
        $videoEmbed.show();
      } else {
        $videoEmbed.hide();
      }
    }

    function submitVerification() {
      // Ensure that the video has been properly validated and the video proof hidden input updated.
      updateVideoPreview();
      if ($('#raw-video-proof-field').val() && !$('#video-proof-field').val()) {
        // If a raw-video is specified but no video has been successfully parsed out, then the user
        // must've tried to submit a verification with an invalid video url/id (perhaps they submitted
        // in the second after the last keystroke in the raw-video field before the video preview
        // is updated).
        return;
      }

      var formFields = [
        $('#submit-verification-button'),
        $('#update-verification-button'),
        $('#text-proof-field'),
        $('#raw-video-proof-field')
      ];
      disable(formFields);
      $('#submit-verification-error').text('');

      var data = {
        badge_pk: badgePk,
        text_proof: $('#text-proof-field').val(),
        video_proof: $('#video-proof-field').val()
      };
      $.post('{% url ajax_submit_verification %}', data, function (data) {
        if (data.errors) {
          $('#submit-verification-error').text(data.errors.join());
          enable(formFields);
          return;
        }

        $('#submit-verification-button').hide();
        $('#update-verification-button').show();
        enable(formFields);
        
        alert('Success!');
      }).fail(function () {
        $('#submit-verification-error').text('Server error!');
        enable(formFields);
      });
    }
  {% endif %}
</script>
{% endblock %}
