<a href="{% url badge_detail badge.track_name badge.id %}{{ link_to_verification|yesno:'#verification,' }}"
   class="badge-chip grade-{{ badge.grade }} {{ is_mini|yesno:'mini,'}}">
  <div class="badge-medal"></div>
  <div class="badge-chip-box">
    <div class="badge-name">{{ badge.name }}
      {% if target_username %}
        <span class="badge-target-username">for {{ target_username }}</span>
      {% endif %}
    </div>
    {% if not is_mini %}
      <div class="badge-description">{{ badge.description }}</div>
    {% endif %}
  </div>
</a>