{% extends "base_track.html" %}

{% load tags %}

{% block tab_title %}{{ track.name|capfirst }} - {{ badge.name|capfirst }}{% endblock %}

{% block head %}
{{ block.super }}
<script>
  var badgePk = {{ badge.pk }};
  var firstName = '{{ user.first_name|lower|escapejs }}';
  var lastName = '{{ user.last_name|lower|escapejs }}';
</script>
{% endblock %}

{% block subtitle %}Badge{% endblock %}

{% block content %}
<h1>Lvl {{ badge.requirement.level.rank }} - {{ badge.name }}</h1>
<p>
<h2>{{ badge.description }}</h2>
<p>
<div id="training">
  {{ badge.training|safe }}
  {% if not is_started %}
    <div id="start-badge-mask">
      <div>
        <!-- TODO: Change to a "Join this track" button if not already joined. -->
        <!-- TODO: Change to a login/join link if not logged in. -->
        <button id="start-badge-button">Start {{ badge.name }}!</button>
        <div id="start-badge-error" class="error"></div>
      </div>
    </div>
  {% endif %}
  <div id="verification">
    <h1>Verification</h1>
    {% if not badge.requires_verification %}
      {% if not is_submitted %}
        <div id="complete-badge-form">
          <div id="oath">I, {{ user.first_name }} {{ user.last_name }}, have completed the requirements for this badge.</div>
          <label for="signature-field" >Signature:</label>
          <input type="text" id="signature-field" name="signature"></input>
          <br>
          <button id="complete-badge-button" disabled>Complete "{{ badge.name }}"</button>
          <div id="complete-badge-error" class="error"></div>
        </div>
      {% else %}
        Badge already earned! Congrats?
      {% endif %}
    {% else %}
      TODO: Form to send for peer verification.
    {% endif %}
  </div>
</div>
{% endblock %}

{% block footer_script %}
{{ block.super }}
<script>
  {% if not is_started %}
    $(function() { $('#start-badge-button').click(startBadge); });

    function startBadge() {
      $('#start-badge-button').attr('disabled', true);
      $('#start-badge-error').text('');

      var data = {};
      data.badge = badgePk;
      $.post('{% url ajax_start_badge %}', data, function (data) {
        if (data.errors) {
          $('#start-badge-error').text(data.errors.join());
          return;
        }
        $('#start-badge-mask').remove();
        $('#training').css('max-height', 'none');
      }).fail(function() {
        $('#start-badge-error').text('Server error!');
      }).always(function() {
        $('#start-badge-button').removeAttr('disabled');
      });
    }
  {% else %}
    $(function() { $('#training').css('max-height', 'none'); });
  {% endif %}

  
  {% if not badge.requires_verification and not is_submitted %}
    $(function() {
      $('#signature-field').keyup(signatureChanged);
      signatureChanged();
      $('#complete-badge-button').click(completeBadge);
    });

    function signatureChanged() {
      var cleanedText = $('#signature-field').val().toLowerCase().trim();
      if (cleanedText == firstName || cleanedText == lastName ||
          cleanedText == firstName + ' ' + lastName ||
          cleanedText == lastName + ' ' + firstName) {
        $('#complete-badge-button').removeAttr('disabled');
      } else {
        $('#complete-badge-button').attr('disabled', true);
      }
    }

    function completeBadge() {
      $('#complete-badge-button').attr('disabled', true);
      $('#signature-field').attr('disabled', true);
      $('#complete-badge-error').text('');

      var data = {};
      data.badge = badgePk;
      $.post('{% url ajax_complete_unverified_badge %}', data, function (data) {
        if (data.errors) {
          $('#complete-badge-error').text(data.errors.join());
          $('#complete-badge-button').removeAttr('disabled');
          $('#signature-field').removeAttr('disabled');
          return;
        }
        $('#complete-badge-form').remove();
        // TODO: add "earned mm/dd/yyyy" text
      }).fail(function() {
        $('#complete-badge-error').text('Server error!');
        $('#complete-badge-button').removeAttr('disabled');
        $('#signature-field').removeAttr('disabled');
      });
    }
  {% elif badge.requires_verification and not is_submitted %}
    // TODO: js for actual verification.
  {% endif %}
</script>
{% endblock %}
