{% extends "base.html" %}

{% load tags %}

{% block title %}{{ path.name|capfirst }}{% endblock %}

{% block navigation %}
{% path_link path %}
<a href="{% url path_users path_name=path.name %}">Users</a>
<a href="{% url path_levels path_name=path.name %}">Levels</a>
<a href="{% url path_quests path_name=path.name %}">Quests</a>
<a href="{% url path_badges path_name=path.name %}">Badges</a>
<a href="{% url quests_verify path_name=path.name %}">Verify quests</a>
{% endblock %}

{% block content %}{% endblock %}
