<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>{% block tab_title %}{% endblock %}</title>
  {% load staticfiles %}
  <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'jquery.cookie.js' %}"></script>
  <script src="{% static 'base.js' %}"></script>
  <script src="{% static 'ajax.js' %}"></script>
  <script>
    function openPopup(url) {
      var w = 700;
      var h = 500;
      var left = 100;
      var top = 100;

      var settings = 'height=' + h + ',width=' + w + ',left=' + left + ',top=' + top + ',resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=yes,directories=no,status=yes';
      url += "?next={% url login_popup_close %}";

      window.open(url, name, settings);
    }
  </script>
  {% block head %}{% endblock %}
</head>
<body>
  <div id="header">
    <span id="title">{% block title %}Title{% endblock %}</span>
    <span id="subtitle">{% block subtitle %}Subtitle{% endblock %}</span>
  </div>
  <div id="gutter" class="floating-text">
    <div id="nav" class="floating-text">{% block navigation %}{% endblock %}</div>
    <div id="gutter-box" class="floating-text">
      {% if user.is_authenticated %}
        {{ user.username }}
      {% else %}
        <a href="javascript:openPopup('{% url socialauth_begin 'facebook' %}'); return void(0);">Log in with Facebook</a>
      {% endif %}
      {% block track_info %}{% endblock %}
    </div>
  </div>
  <div id="content" class="floating-box">{% block content %}{% endblock %}</div>
  <div>{% block footer %}{% endblock %}</div>
  <div id="dimmer"><div></div></div>
  <script>
    $(function() {
      var MIN_NAV_TOP_PX = 25;
      $(document).scroll(function(e) {
        var top = $(document).scrollTop();
        $('#nav').css('margin-top', Math.max(MIN_NAV_TOP_PX, 150 - top) + 'px');
      });
      $(document).scroll();

      $('#dimmer, #dimmer:first-child').click(function() { showDimmer(false); });
    });

    function showDimmer(show) {
      if (show || typeof show == 'undefined') {
        $('#dimmer').fadeIn(300);
      } else {
        $('#dimmer').fadeOut(300, function() {
          $('#dimmer:first-child').empty();
        });
      }
    }

    {% if user.is_authenticated %}
      $(function() {
        $('#gutter-box').hover(showMerits);
      });

      function showMerits() {
        $("#dimmer > div").html(
          '<iframe onload="this.style.visibility = \'visible\';" ' +
          '        src="{% url user_merits user.username track.name %}" ' +
          '        allowtransparency="true"></iframe>');
        showDimmer();
      }
    {% endif %}
  </script>
  {% block footer_script %}{% endblock %}
</body>
</html>
