{% extends "base.html" %}

{% load tags %}

{% block title %}{{ track.name|capfirst }}{% endblock %}

{% block navigation %}
<a href="{% url track_users track_name=track.name %}">Users</a>
<a href="{% url track_levels track_name=track.name %}">Levels</a>
<a href="{% url track_quests track_name=track.name %}">Quests</a>
<a href="{% url track_badges track_name=track.name %}">Badges</a>
<a href="{% url quests_verify track_name=track.name %}">Verify quests</a>
{% endblock %}

{% block content %}{% endblock %}
