{% extends "base.html" %}

{% load tags %}

{% block title %}{{ track.name|capfirst }}{% endblock %}
{% block gutter_title %}{{ track.name|capfirst }}{% endblock %}

{% block navigation %}
<ul>
  <li><a id="track-home-link" href="{% url track_detail track_name=track.name %}">home</a>
  <li><a id="track-users-link" href="{% url track_users track_name=track.name %}">users</a>
  <li><a id="track-levels-link" href="{% url track_levels track_name=track.name %}">levels</a>
  <li><a id="track-quests-link" href="{% url track_quests track_name=track.name %}">quests</a>
  <li><a id="track-badges-link" href="{% url track_badges track_name=track.name %}">badges</a>
  <li><a id="track-verify-link" href="{% url quests_verify track_name=track.name %}">verify</a>
</ul>
{% endblock %}

{% block content %}{% endblock %}
