<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load staticfiles %}
  <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'jquery.cookie.js' %}"></script>
  <script src="{% static 'ajax.js' %}"></script>
  {% block base_head %}{% endblock %}
  {% block head %}{% endblock %}
  <script>{% block head_script %}{% endblock %}</script>
</head>
<body>
  <div id="gutter" class="floating-text">
    <div class="gutter-title">{% block gutter_title %}Title{% endblock %}</div>
    <div class="gutter-title subtitle">{% block gutter_subtitle %}Subtitle{% endblock %}</div>
    <div id="gutter-box" class="floating-text">
      {% if user.is_authenticated %}
        {{ user.username }}
      {% else %}
        <a href="{% url socialauth_begin 'facebook' %}">Log in with Facebook</a>
      {% endif %}<br>
      {% block track_info %}Track Info{% endblock %}
    </div>
  </div>
  <div id="nav" class="floating-text">{% block navigation %}{% endblock %}</div>
  <div id="content" class="floating-box">{% block content %}{% endblock %}</div>
  <div>{% block footer %}{% endblock %}</div>
  <script>{% block footer_script %}{% endblock %}</script>
</body>
</html>
