<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load staticfiles %}
  <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'jquery.cookie.js' %}"></script>
  <script src="{% static 'ajax.js' %}"></script>
  {% block head %}{% endblock %}
</head>
<body>
  <div id="header">
    <span id="title">{% block gutter_title %}Title{% endblock %}</span>
    <span id="subtitle">{% block gutter_subtitle %}Subtitle{% endblock %}</span>
  </div>
  <div id="gutter" class="floating-text">
    <div id="nav" class="floating-text">{% block navigation %}{% endblock %}</div>
    <div id="gutter-box" class="floating-text">
      {% if user.is_authenticated %}
        {{ user.username }}
      {% else %}
        <a href="{% url socialauth_begin 'facebook' %}">Log in with Facebook</a>
      {% endif %}
      {% block track_info %}Track Info{% endblock %}
    </div>
  </div>
  <div id="content" class="floating-box">{% block content %}{% endblock %}</div>
  <div>{% block footer %}{% endblock %}</div>
  <script>
    $(function() {
      var MIN_NAV_TOP_PX = 25;
      $(document).scroll(function(e) {
        var top = $(document).scrollTop();
        $('#nav').css('margin-top', Math.max(MIN_NAV_TOP_PX, 150 - top) + 'px');
      });
      $(document).scroll();
    });
  </script>
  {% block footer_script %}{% endblock %}
</body>
</html>
