{% extends "base.html" %}

{% load tags %}

{% block tab_title %}{{ track.name|capfirst }}{% endblock %}
{% block title %}{{ track.name|capfirst }}{% endblock %}

{% block head %}
{{ block.super }}
<style>
  body {
    background-image: url('{{ track.background_url }}');
  }
</style>
{% endblock %}

{% block track_info %}
  {% if user.is_authenticated %}
    {% if user_track %}
      <div id="track-name">{{ user_track.level.name }}</div>
      <!-- Mock progress bars. -->
      <div id="badge-container">
        <span class="medal large grade-4"></span><span class="medal large grade-4"></span><span class="medal large disabled grade-4"></span><span class="medal large disabled grade-4"></span>
        <span class="medal large grade-2"></span><span class="medal large grade-2"></span><span class="medal large grade-2"></span><span class="medal large grade-2"></span><span class="medal large disabled grade-2"></span><span class="medal large disabled grade-2"></span>
        <span class="medal large grade-1"></span><span class="medal large grade-1"></span><span class="medal large grade-1"></span><span class="medal large grade-1"></span><span class="medal large disabled grade-1"></span><span class="medal large disabled grade-1"></span>
      </div>
      <div style="border: 1px solid #FFF; height: 12px; width: 120px; border-radius: 3px; 
                  margin-top: 4px; margin: 7px auto 0 auto;">
        <div style="background-color: #FFF; width: 80px; height:100%;"></div>
      </div>
    {% else %}
      <div id="join-track-link">Join {% track_link track %} today</div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block navigation %}
<ul>
  <li><a id="track-home-link" href="{% url track_detail track_name=track.name %}">home</a>
  <li><a id="track-users-link" href="{% url track_users track_name=track.name %}">users</a>
  <li><a id="track-levels-link" href="{% url track_levels track_name=track.name %}">levels</a>
  <li><a id="track-badges-link" href="{% url track_badges track_name=track.name %}">badges</a>
  <li><a id="track-verify-link" href="">verify</a>
</ul>
{% endblock %}

{% block content %}{% endblock %}
