{% extends "base_path.html" %}

{% load tags %}

{% block title %}{{ track.name|capfirst }} levels{% endblock %}

{% block content %}
{% track_link track %}
<ul>
{% for level in track.levels.all %}
  <li>
    {% level_link level %}: {{ level.name }}.  {{ level.description|truncatechars:100 }}<br>
    <ul>
    {% for badge in level.badges.all %}
      <li>
        {% badge_link badge %}<br>
        {{ badge.description|truncatechars:100 }}<br>
        Quests required to get this badge:
        <ul>
        {% for quest in badge.quests.all %}
          <li>{% quest_link quest %}: {{ quest.description|truncatechars:100 }}
        {% empty %}
          <li>You don't need to do anything to earn this badge.    
        {% endfor %}
        </ul>
      </li>
    {% empty %}
      <li>All you need to do is sign up for {% track_link track %}!
    {% endfor %}
      <li>Top DaVincists at this level:
        {% for user_path in level.top_10_user_paths|slice:":3" %}
          {% user_link user_path.user %} ({{ user_path.xp }})
          {% if not forloop.last %},{% endif %}
        {% empty %}
          No one has reached this level yet.
        {% endfor %}
      </li>
    </ul>
  </li>
{% endfor %}
</ul>
{% endblock %}
