{% extends "base_path.html" %}

{% load tags %}

{% block title %}{{ path.name|capfirst }} levels{% endblock %}

{% block content %}
{% path_link path %}
<ul>
{% for level in path.levels.all %}
  <li>
    {% level_link level %}: {{ level.name }}.  {{ level.description|truncatechars:100 }}<br>
    <ul>
    {% for badge in level.badges_needed.all %}
      <li>
        {% badge_link badge %}<br>
        {{ badge.description|truncatechars:100 }}<br>
        Quests required to get this badge:
        <ul>
        {% for quest in badge.quests.all %}
          <li>{% quest_link quest %}: {{ quest.description|truncatechars:100 }}
        {% empty %}
          <li>You don't need to do anything to earn this badge.    
        {% endfor %}
        </ul>
      </li>
    {% empty %}
      <li>All you need to do is sign up for {% path_link path %}!
    {% endfor %}
    </ul>
    <ul>
    <li>
    {% for user in level.top_3_users %}
      {% if forloop.first %}Top DaVincists at this level:{% endif %}
      &nbsp;{{ user.user }} ({{ user.xp }})
      {% if not forloop.last %},{% else %}<br>{% endif %}
    {% empty %}
      No one has reached this level yet.
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
{% endblock %}
