{% extends "base_track.html" %}

{% load tags %}

{% block title %}{{ track.name|capfirst }} - {{ quest.name|capfirst }}{% endblock %}

{% block head_script %}
{{ block.super }}
var questPk = {{ quest.pk }};
{% endblock %}

{% block gutter_subtitle %}Quest{% endblock %}

{% block content %}
<h1>Lvl {{ quest.level.rank }} - {{ quest.name }}</h1>
<p>
<h2>{{ quest.description }}</h2>
<p>
{{ quest.type_string }}
{% if quest.max_repetitions > 1 %} ({{ quest.max_repetitions }}x){% endif %}
 earning you: {% for badge in quest.badges.all %}{% badge_link badge %}{% endfor %}
<div id="training">
  {{ quest.training|safe }}
  {% if not quest_status %}
    <div id="start-quest-mask">
      <div>
        <!-- TODO: Change to a "Join this track" button if not already joined -->
        <button id="start-quest-button">Start {{ quest.name }}!</button>
        <div id="start-quest-error"></div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}

{% block footer_script %}
{% if not quest_status %}
  $(function() {
    $('#start-quest-button').click(startQuest);
  });

  function startQuest() {
    $('#start-quest-button').attr('disabled', true);

    var data = {};
    data.quest = questPk;
    $.post('{% url ajax_start_quest %}', data, function (data) {
      if (data.errors) {
        $('#start-quest-error').text(data.errors.join());
        return;
      }
      $('#start-quest-mask').remove();
      $('#training').css('max-height', 'none');
    }).fail(function() {
      $('#start-quest-error').text('Server error!');
    }).always(function() {
      $('#start-quest-button').removeAttr('disabled');
    });
  }
{% else %}
  $('#training').css('max-height', 'none');
{% endif %}
{% endblock %}
