{% extends "base_track.html" %}

{% load tags %}

{% block tab_title %}{{ track.name|capfirst }}{% endblock %}
{% block subtitle %}Home{% endblock %}

{% block head %}
{{ block.super }}
<script>var trackPk = {{ track.pk }};</script>
<style>
  #nav #track-home-link {
    color: #FAFAFA;
    border-color: #FAFAFA;
  }
</style>
{% endblock %}


{% block content %}
{{ track.description }}
<p>{{ track.mission }}

{% if user.is_authenticated and not user_track %}
  <p>
    <button id="join-track-button">Join {{ track.name }}!</button>
    <div id="join-track-error" class="error"></div>
  </p>
{% endif %}

<h2> Announcements </h2>
<p> Announcements go here </p>
<h3>Levels</h3>
<div class="panel-group" id="accordion">
  {% for level in track.levels.all %}
    {% if level.is_public %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
               href="#collapse-level-{{ level.rank }}">
              <b>Level {{ level.rank }}:</b> {{ level.name }}
            </a>
          </h4>
        </div>
        <div id="collapse-level-{{ level.rank }}" class="panel-collapse collapse {% if level.rank >= first_level_to_display and level.rank < last_level_to_display %}in{% endif %}">
          <div class="panel-body">
            {% if level.rank == 0 %}
              There are no requirements for this level. This is where you start!
            {% else %}
              <ul>
              {% for requirement in level.requirements.all %}
                <li>
                  {% for badge in requirement.badges.all %}
                    {% badge_link badge %} - {{ badge.description }}
                    {% if not forloop.last %} <b>or</b><br>{% endif %}
                  {% endfor %}
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}

{% block footer_script %}
{{ block.super }}
<script>
  {% if user.is_authenticated and not user_track %}
    $(function () {
      $('#join-track-button').click(joinTrack);
    });

    <!-- TODO: Refactor into a common location so that it can be utilized in multiple locations. -->
    function joinTrack() {
      $('#join-track-button').attr('disabled', true);
      $('#join-track-error').text('');

      var data = {
        track_pk: trackPk
      };
      $.post('{% url ajax_join_track %}', data, function (data) {
        if (data.errors) {
          $('#join-track-error').text(data.errors.join());
          return;
        }
        location.reload();
      }).fail(function () {
        $('#join-track-error').text('Server error!');
      }).always(function () {
        $('#join-track-button').removeAttr('disabled');
      });
    }
  {% endif %}
</script>
{% endblock %}