{% extends "base.html" %}

{% load tags %}

{% block tab_title %}All available tracks{% endblock %}

{% block content %}

The following tracks are available for public signup:<br>
<ul>
{% for track in tracks %}
  <li>
    {{ track.name }}: {{ track.description|truncatechars:128 }}<br>
    Mission: {{ track.mission|truncatechars:128 }}<br>
    For more details, <a href="{% url track_detail track.name %}">click here</a>.
  </li>
{% empty %}
  <li>
    Well, this is embarrassing... we don't have any tracks!
  </li>
{% endfor %}
</ul>
{% endblock %}
