{% extends "base_track.html" %}

{% load tags %}

{% block title %}{{ track.name|capfirst }} badges{% endblock %}
{% block gutter_subtitle %}Badges{% endblock %}

{% block head %}
<style>
  #nav #track-badges-link {
    color: #FAFAFA;
    border-color: #FAFAFA;
  }
</style>
{% endblock %}

{% block content %}
<table>
  <tr>
    <th>Level</th>
    <th>Type and Name</th>
    <th>Description</th>
    <th>Quests</th>
  </tr>
  {% for level in track.levels.all %}
    {% for badge in level.badges.all %}
      <tr>
        <td>{{ level.rank }}</td>
        <td>{% badge_link badge add_anchor=0 %}</td>
        <td>{{ badge.description|truncatechars:64 }}</td>
        <td>
          {% for quest in badge.quests.all %}
            {{ quest.name }}
            {% if not forloop.last %}
              , 
            {% endif %}
          {% empty %}
            <i>No quest is needed to earn this badge.</i>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  {% endfor %}
</table>
{% endblock %}
