{% extends "base_track.html" %}

{% load tags %}

{% block title %}{{ track.name|capfirst }}{% endblock %}
{% block gutter_subtitle %}Home{% endblock %}

{% block head %}
{{ block.super }}
<script>var trackName = '{{ track.name }}';</script>
<style>
  #nav #track-home-link {
    color: #FAFAFA;
    border-color: #FAFAFA;
  }
</style>
{% endblock %}


{% block content %}
{{ track.description }}
<p>{{ track.mission }}
<p><img src="/media/{{ track.crest }}" width="100px" height="100px"></img>

{% if user.is_authenticated and not user_track %}
  <p>
    <button id="join-track-button">Join {{ track.name }}!</button>
    <div id="join-track-error"></div>
  </p>
{% endif %}

<h2> Announcements </h2>
<p> Announcements go here </p>
<h3> Badges </h3>
{% for level in track.levels.all %}
  {% for badges in level.badges.all %}
    <p> {{ badges.user_count }}
      {% if badges.user_count == 0 or badges.user_count > 1 %} 
        users have
      {% else %}
        user has
      {% endif %}
      {{ badges.name }} 
    </p>
  {% endfor %}
{% endfor %}
<h3> Levels </h3>
{% for level in track.levels.all %}
  <p>
  {{ level.user_count }}
  {% if level.user_count == 0 or level.user_count > 1  %}
     users are
  {% else %} 
     user is
  {% endif %}
  on {{ level.name}}
  </p>
  <p>
  {% if level.user_count > 3 %}
    {% for user_track in level.top_10_user_tracks|slice:":3" %}
      Top users are: {% user_link user_track.user %} ({{ user_track.xp }})
    {% endfor %}
  {% endif %}
{% endfor %}
<h3> Quests to be fulfilled </h3>
{% for level in track.levels.all %}
  {% for user_track in user.user_tracks.all %}
    {% for quest in level.quests.all %}
      {% for badge in quest.badges.all %}
        {% if badge not in user_track.badges_owned %}
          <p>{% quest_link quest %}</p>
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endfor %}
{% endblock %}

{% block footer_script %}
{{ block.super }}
<script>
  {% if user.is_authenticated and not user_track %}
    $(function() {
      $('#join-track-button').click(joinTrack);
    });

    <!-- TODO: Refactor into a common location so that it can be utilized in multiple locations. -->
    function joinTrack() {
      $('#join-track-button').attr('disabled', true);

      var data = {};
      data.track = trackName;
      $.post('{% url ajax_join_track %}', data, function (data) {
        if (data.errors) {
          $('#join-track-error').text(data.errors.join());
          return;
        }
        location.reload();
      }).fail(function() {
        $('#join-track-error').text('Server error!');
      }).always(function() {
        $('#join-track-button').removeAttr('disabled');
      });
    }
  {% endif %}
</script>
{% endblock %}