{% extends "base_track.html" %}

{% load tags %}

{% block title %}{{ track.name|capfirst }} users{% endblock %}

{% block content %}
{% track_link track %}
{% for user_track in track.user_tracks.all %}
  <p>{% user_link user_track.user %}: (Lvl {{ user_track.level.rank }}) {{ user_track.level.name }}
  <ul>
    <li>"{{ user_track.mission }}"
    <li>{{ user_track.xp }} XP
    {% for badge in user_track.badges.all %}
      <li>{% badge_link badge %}
    {% endfor %}
  </ul>
{% endfor %}
{% endblock %}
