{% extends "base_track.html" %}

{% load tags %}

{% block title %}{{ track.name|capfirst }} quests{% endblock %}
{% block gutter_subtitle %}Quests{% endblock %}

{% block head %}
<style>
  #nav #track-quests-link {
    color: #FAFAFA;
    border-color: #FAFAFA;
  }
</style>
{% endblock %}

{% block content %}
<table>
	<tr>
		<th> Level </th>
		<th> Name </th>
		<th> Description </th>
		<th> Badge </th>
	</tr>
	{% for level in track.levels.all %}
		{% for quest in level.quests.all %}
			<tr>
				<td> {{ level.rank }} </td>
				<td> {% quest_link quest %} </td>
				<td> <b>{{ quest.size }}</b> {{ quest.description|truncatechars:64 }} <br></td>
				<td>
					{% for badge in quest.badges.all %}
  						{% badge_link badge %}
  					{% endfor %}
  			</tr>
  		{% endfor %}
  	{% endfor %}
</table>
{% endblock %}

