{% extends "base_track.html" %}

{% load tags %}

{% block tab_title %}{{ track.name|capfirst }} badges{% endblock %}
{% block subtitle %}Badges{% endblock %}

{% block head %}
{{ block.super }}
<style>
  #nav #track-badges-link {
    color: #FAFAFA;
    border-color: #FAFAFA;
  }
</style>
{% endblock %}

{% block content %}
<table>
  <tr>
    <th>Level</th>
    <th>Badge</th>
    <th>Description</th>
  </tr>
  {% for level in track.levels.all %}
    {% for requirement in level.requirements.all %}
      {% for badge in requirement.badges.all %}
        <tr>
          <td>{{ level.rank }}</td>
          <td>{% badge_link badge %}</td>
          <td>{{ badge.description|truncatechars:64 }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  {% endfor %}
</table>
{% endblock %}
