{% extends "base_track.html" %}

{% load tags %}

{% block tab_title %}{{ track.name|capfirst }} users{% endblock %}
{% block subtitle %}Users{% endblock %}

{% block head %}
{{ block.super }}
<style>
  #nav #track-users-link {
    color: #FAFAFA;
    border-color: #FAFAFA;
  }
</style>
{% endblock %}

{% block content %}
{% for user_track in user_tracks %}
  <p>{% user_link user_track.user %}: (Lvl {{ user_track.level.rank }}) {{ user_track.level.name }}
  <ul>
    <li>{{ user_track.xp }} XP
    <li>
      {% for badge in user_track.badges.all %}{% badge_link badge %}{% endfor %}
    </li>
  </ul>
{% endfor %}
{% endblock %}
