{% extends "base_user.html" %}

{% load tags %}

{% block title %}{{ target_user.username }}'s Profile{% endblock %}

{% block head %}
<script>
  var targetUserPk = {{ target_user.pk }};
</script>
{% endblock %}

{% block content %}

{% comment %}Temporary styling to show how public/private classes work{% endcomment %}
<style type="text/css">
.public {color:black;}
.private {color:blue;}
</style>

{% comment %}<img src="{{ target_user.profile.profile_image }}" height=200 width=200>{% endcomment %}
--PROFILE PICTURE HERE--<br>
{{ target_user.username }} Overall XP: {{ target_user.profile.xp }}<br>
{{ target_user.username }}'s Biography: {% if target_user.profile.bio %}{{ target_user.profile.bio }}{% else %}No biography set yet.{% endif %}<br>
{% if target_user.profile.website %}Website: {{ target_user.profile.website }}<br>{% endif %}
<br>
{{ target_user.username }} is a member of the following tracks:<br><br>
{% for user_track in target_user.user_tracks.all %}
  {% track_link user_track.track %}<br>
  {% if user_track.mission %}Her/His/Its Mission: {{ user_track.mission }}<br>{% endif %}
  {{ user_track.track.name }} Level: {{ user_track.level.rank }}: {{ user_track.level.name }} ({{ user_track.xp }} XP)<br>
  Top badges: 
  {% for top_badge in user_track.top_badges %}
    {% badge_link top_badge add_anchor=1 %}{% if not forloop.last %},&nbsp;{% endif %}
  {% empty %}
    No badges acquired in this level yet.
  {% endfor %}
  <br><br>  
{% empty %}
  He/She/It hasn't joined any tracks yet!
{% endfor %}

<!-- Begin wall code. -->
<h2>Your Wall</h2>
{% if not target_user.wall_posts.all %}
  You don't have any comments or updates for now.  Go complete some quests!<br>
{% else %}
  {% for post in target_user.wall_posts.all|slice:":10" %}
    <div 
    {% if not post.is_public %}
      {% if target_user == user or post.poster == user %}
        class="private"><b>{{ post.poster }}:</b> {{ post.text }}</div>
      {% endif %}
    {% else %}
      class="public"><b>{{ post.poster }}:</b> {{ post.text }}</div>
    {% endif %}
  {% endfor %}
{% endif %}

<!-- Move the wall posting stuff into a reusable template. -->
<div id="wall-post-box">
  <textarea id="wall-post-textbox"></textarea>
  <div class="wall-post-button-box">
    <button id="wall-post-public-button">Post Public</button>
    <button id="wall-post-private-button">Post Private</button>
  </div>
</div>

<script>
  $("#wall-post-public-button").click(function() { postToWall(true); });
  $("#wall-post-private-button").click(function() { postToWall(false); });

  function postToWall(is_public) {
    $("#wall-post-box :input").attr('disabled', true);

    var data = {};
    data.text = $("#wall-post-textbox").val();
    data.to = targetUserPk;
    data.is_public = is_public
    $.post("/x/post-to-wall/", data, function (data) {
      if (data.errors) {
        for (var i = 0; i < data.errors.length; ++i) {
          console.error(data.errors[i]);
        }
        // TODO: Show a server error.
        return;
      }

      // TODO: Load new post into existing wall without a reload.
      location.reload();
    }).fail(function() {
      // TODO: Show a server error.
      console.error('Server error!');
    }).always(function() {
      $("#wall-post-box :input").removeAttr('disabled');
    });
  }
</script>

{% endblock %}
