{% extends "base_user.html" %}

{% load tags %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
{% comment %}<img src="{{ user.profile.profile_image }}" height=200 width=200>{% endcomment %}
--PROFILE PICTURE HERE--<br>
{{ user.username }} Overall XP: {{ user.profile.xp }}<br>
{{ user.username }}'s Biography: {% if user.profile.bio %}{{ user.profile.bio }}{% else %}No biography set yet.{% endif %}<br>
{% if user.profile.website %}Website: {{ user.profile.website }}<br>{% endif %}
<br>
{{ user.username }} is a member of the following tracks:<br><br>
{% for user_track in user.user_tracks.all %}
  {% track_link user_track.track %}<br>
  {% if user_track.mission %}Her/His/Its Mission: {{ user_track.mission }}<br>{% endif %}
  {{ user_track.track.name }} Level: {{ user_track.level.rank }}: {{ user_track.level.name }} ({{ user_track.xp }} XP)<br>
  Top badges: 
  {% for top_badge in user_track.top_badges %}
    {% badge_link top_badge add_anchor=1 %}{% if not forloop.last %},&nbsp;{% endif %}
  {% empty %}
    No badges acquired in this level yet.
  {% endfor %}
  <br><br>  
{% empty %}
  He/She/It hasn't joined any tracks yet!
{% endfor %}

{% endblock %}
