{% extends "base_user.html" %}

{% load tags %}

{% block tab_title %}{{ target_user.username }}'s Profile{% endblock %}
{% block subtitle %}Profile{% endblock %}

{% block head %}
{{ block.super }}
{% load staticfiles %}
<script src="{% static 'wall.js' %}"></script>
<script>var targetUserPk = {{ target_user.pk }};</script>
{% endblock %}

{% block content %}
<h2>Notifications</h2>
TODO
<h2>Current challenges</h2>
<ul>
{% for user_track in target_user.user_tracks.all %}
  {% with current_challenges=user_track.current_challenges %}
    {% if current_challenges %}
      <li>{{ user_track.track.name }}
      <ul>
      {% for verification in current_challenges %}
        <li>{% badge_link verification.badge False True %}
      {% endfor %}
      </ul>
    {% else %}
      <li>No challenges in progress for {{ user_track.track.name }}!
    {% endif %}
  {% endwith %}
{% endfor %}
</ul>
<h2>Upcoming challenges</h2>
<ul>
{% for user_track in target_user.user_tracks.all %}
  {% with next_challenges=user_track.next_challenges %}
    {% if next_challenges %}
      <li>{{ user_track.track.name }}
      <ul>
      {% for badge in next_challenges.all %}
        <li>{% badge_link badge %}</li>
      {% endfor %}
      </ul>
    {% else %}
      <li>No unstarted challenges for {{ user_track.track.name }}!
    {% endif %}
  {% endwith %}
{% endfor %}
</ul>
<h2>Challenges to verify</h2>
<ul>
{% for user_track in target_user.user_tracks.all %}
  {% with challenges_to_verify=user_track.challenges_to_verify %}
    {% if challenges_to_verify %}
      <li>{{ user_track.track.name }}
      <ul>
      {% for verification in challenges_to_verify %}
        <li>{{ verification }}
      {% endfor %}
      </ul>
    {% else %}
      <li>No challenges to verify for {{ user_track.track.name }}!
    {% endif %}
  {% endwith %}
{% endfor %}
</ul>

<h2>Wall</h2>
{% include 'user_wall.html' with target_user=target_user paginate=True %}
{% endblock %}
