{% comment %}

A partial template for the verification interface for a single verification.

This template {% include %}s the wall partial, which implements all the logic needed to receive
verification input from the user (although the actual verify() AJAX function is assumed to be
provided at a higher scope). In order to cut down on redundant <script> definitions, this partial
template relies on the including page to preload:

  * jquery.min.js
  * jquery.cookie.js
  * base.js
  * ajax.js
  * wall.js

{% endcomment %}
{% load tags %}
{% badge_link verification.badge True verification.user.username %}
<span class="challenge">: {{ verification.badge.challenge }}</span>
{% if verification.text or verification.youtube_id %}
<div class="proof-container">
  {% if verification.text %}
    <div class="text-proof">{{ verification.text }}</div>
  {% endif %}
  {% if verification.youtube_id %}
    <iframe id="video-proof-embed" type="text/html" width="100%" height="300" frameborder="0"
            src="//www.youtube.com/embed/{{ verification.youtube_id }}?wmode=transparent"></iframe>
  {% endif %}
</div>
{% endif %}
{% include 'user_wall.html' with target_user=verification.user verification=verification %}
