<div class="wall-container user-{{ target_user.pk }}">
  {% if allow_public_posting or allow_private_posting %}
    <div class="wall-post-box">
      <textarea class="wall-post-textbox"></textarea>
      <div class="wall-post-error error"></div>
      <div class="wall-post-button-box">
        {% if allow_public_posting %}
          <button class="wall-post-public-button">Post Public</button>
        {% endif %}
        {% if allow_private_posting %}
          <button class="wall-post-private-button">Post Private</button>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="wall">
    <div class="public-post template">
      <span class="poster"></span>
      <span class="text"></span>
      <span class="timestamp"></span>
      <span class="verification"></span>
    </div>
    <div class="private-post template">
      <span class="poster"></span>
      <span class="text"></span>
      <span class="timestamp"></span>
      <span class="verification"></span>
    </div>
  </div>
  <div class="wall-load-error error"></div>
  {% if paginate %}
    <button class="wall-load-button" disabled>Load more</button>
  {% endif %}
</div>

<script>
  $(function () {
    var wallSelector = buildWallSelector({{ target_user.pk }});
    
    {% if verification %}
      $(wallSelector + ' .wall-post-public-button').click(function () {
        postToWall({{ target_user.pk }}, true, {{ verification.pk }});
      });
      
      $(wallSelector + ' .wall-post-private-button').click(function () {
        postToWall({{ target_user.pk }}, false, {{ verification.pk }});
      });
      
      $(wallSelector + ' .wall-load-button').click(function () {
        loadWallPosts({{ target_user.pk }}, true, {{ verification.pk }});
      });

      loadWallPosts({{ target_user.pk }}, true, {{ verification.pk }});
    {% else %}
      $(wallSelector + ' .wall-post-public-button').click(function () {
        postToWall({{ target_user.pk }}, true);
      });
      
      $(wallSelector + ' .wall-post-private-button').click(function () {
        postToWall({{ target_user.pk }}, false);
      });
      
      $(wallSelector + ' .wall-load-button').click(function () {
        loadWallPosts({{ target_user.pk }}, true);
      });

      loadWallPosts({{ target_user.pk }}, true);
    {% endif %}
  });
</script>