/* Base styles go here. */

@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Satisfy);

body {
  background-color: transparent;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: Helvetica,Helvetica Neue,Arial,Liberation Sans,DejaVu Sans,sans-serif;
  font-size: 14px;
}

.floating-text {
  color: #FAFAFA;
  text-shadow: #000 0px 3px 10px, rgba(0, 0, 0, 0.3) 0px 0px 30px;
}
  
.floating-box {
  background-color: #FFF;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 10px, rgba(0, 0, 0, 0.1) 0px 0px 30px;
  -webkit-shadow:  rgba(0, 0, 0, 0.6) 0px 3px 10px, rgba(0, 0, 0, 0.1) 0px 0px 30px;
  box-shadow:      rgba(0, 0, 0, 0.6) 0px 3px 10px, rgba(0, 0, 0, 0.1) 0px 0px 30px;
  border: 1px solid #DDD;
}

#header {
  float: left;
  margin-left: 22px;
  height: 135px;
  text-align: left;
  font-family: 'Lobster', cursive;
  font-size: 100px;
  font-weight: 700;
  color: #FAFAFA;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 3px 10px, rgba(0, 0, 0, 0.1) 0px 0px 30px;
}

#subtitle {
  font-size: 36px;
}

#gutter {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 210px;
}

#nav {
  margin: 150px 0 0 37px;

  ul {
    list-style: none;
    padding: 0;
    width: 100%;

    li {
      margin: 0 1em 1.1em 0;
    }
  }

  a {
    text-decoration: none;
    display: block;
    width: 125px;
    padding: 0 0 0 8px;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 18px;
    color: #FFF;
    border-bottom: 4px solid rgba(250, 250, 250, 0.7);

    &:hover {
      border-color: #FFF;
    }
  }
}

#gutter-box {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-family: 'Lobster', cursive;
  font-size: 28px;
  padding: 15px 0;
}

#track-name {
  font-size: 16px;
  line-height: 20px;
}

#badge-container {
  font-size: 24px;
  line-height: 20px;
}

#content {
  clear: both;
  margin: 0 40px 30px 215px;
  border-top: 0;
  padding: 30px;
  min-height: 1000px;
  min-width: 675px;
}

#track-selector-container {
  text-align: center;
  font-size: 32px;
  list-style: none;
  padding: 0;
  margin: 0 auto;

  li {
    display: inline;
    transition: all 200ms linear;
    color: #AAA;
    cursor: pointer;
    padding-left: 12px;

    &:hover {
      color: #555;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    }

    &.separated {
      border-right: 2px solid #AAA;
      padding-right: 6px;
    }

    &.selected {
      color: #555;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    }
  }
}

#tracks-container {
  width: 100%;
  margin-top: 15px;

  & > div {
    position: absolute;
    display: none;

    &.selected {
      display: block;
    }
  }
}

.badge-chip {
  color: #FFF;
  background-color: #505050;
  border: 1px solid #333;
  padding: 0px 6px 0px 3px;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 0 3px 3px 0;
  font-size: 13px;
  font-style: italic;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);

  &:hover, &:focus {
    background-color: #555;
    color: #FFF;
  }

  &.required {
    font-style: normal;
    background-color: #333;
  }
}

.medal {
  background-color: red;
  width: 6px;
  height: 6px;
  line-height: inherit;
  display: inline-block;
  margin: 0 5px 1px 3px;
  border-radius: 100%;

  &.disabled {
    opacity: 0.4;
  }

  &.large {
    width: 10px;
    height: 10px;
    margin: 0 -3px 0 0;
    border: 1px solid #222;
  }
}

.grade-1 {
  background-color: #CC9966;
}

.grade-2 {
  background-color: #C5C5C5;
}

.grade-4 {
  background-color: #FFCC00;
}

.grade-6 {
  background-color: #FFF;
}

.wall-post-box {
  display: inline-block;
  width: 400px;
}

.wall-post-textbox {
  float: left;
  margin: 0;
  width: 100%;
  height: 5em;
}

.wall-post-error {
  float: left;
}

.wall-post-button-box {
  clear: left;
  float: right;
}

.public-post,
.private-post {
  .poster {
    font-weight: bold;

    &:after {
      content: ': ';
    }
  }

  .timestamp {
    color: #888;

    &:before {
      content: ' @';
    }
  }
}

.private-post {
  color: blue;
}

#training {
  position: relative;
  min-height: 150px;
  max-height: 400px;
  overflow: hidden;
}

#signature-field {
  border: none;
  border-bottom: 1px #444 dotted;
  font-family: Satisfy, "Comic Sans", cursive;
  font-size: 12pt;
  width: 175px;
  padding: 0 10px;
}

#start-badge-mask {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 350px;
  text-align: center;

  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, #FFF 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,#FFF)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,#FFF 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,#FFF 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,#FFF 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,#FFF 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */

  div {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}

#start-badge-button {
  display: inline-block;
  margin-bottom: 20px;
  height: 40px;
  min-width: 250px;
  font-size: 14pt;
}

#join-track-button {
  height: 40px;
  min-width: 250px;
  font-size: 14pt;
}

.error {
  color: red;
}

#dimmer {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  top: 0;

  & > div {
    position: absolute;
    top: 100px;
    right: 50px;
    bottom: 100px;
    left: 50px;
  }

  iframe {
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 800px;
    border: 0;
    visibility: hidden;
  }
}

.banner {
  position: fixed;
  top: 50%;
  height: 300px;
  margin-top: -150px;
  width: 100%;
  opacity: 1;
  box-shadow: #000 2px 2px 13px;
  display: none;
}

.banner-text {
  width: 100%;
  height: 300px;
  padding: 50px 75px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font: 10px 'Lobster', cursive;
  text-align: center;
  position: relative;
  text-shadow: #000 0px 3px 10px, rgba(0, 0, 0, 0.3) 0px 0px 30px;
}

.template {
  display: none;
}
