/* Base styles go here. */

@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
  background-image: url('/static/guitar-bkg-0.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.floating-text {
  color: #FAFAFA;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 3px 10px, rgba(0, 0, 0, 0.1) 0px 0px 30px;
}
  
.floating-box {
  background-color: #FAFAFA;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 10px, rgba(0, 0, 0, 0.1) 0px 0px 30px;
  -webkit-shadow:  rgba(0, 0, 0, 0.6) 0px 3px 10px, rgba(0, 0, 0, 0.1) 0px 0px 30px;
  box-shadow:      rgba(0, 0, 0, 0.6) 0px 3px 10px, rgba(0, 0, 0, 0.1) 0px 0px 30px;
  border: 1px solid #DDD;
}

#gutter {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 225px;
}

.gutter-title {
  position: absolute;
  top: 660px;
  left: 22px;
  width: 600px;
  text-align: right;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin:    0 0;
  -ms-transform-origin:     0 0;
  -o-transform-origin:      0 0;
  transform-origin:         0 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform:    rotate(-90deg);
  -ms-transform:     rotate(-90deg);
  -o-transform:      rotate(-90deg);
  transform:         rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  font-family: 'Lobster', cursive;
  font-size: 100px;
  font-weight: 700;
}

.gutter-title.subtitle {
  top: 725px;
  left: 132px;
  font-size: 36px;
}

#gutter-box {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
  font-family: 'Lobster', cursive;
  font-size: 28px;
}

#nav {
  margin-top: 35px;
}

#nav ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 225px;
  width: 100%;
}

#nav li {
  float: left;
  margin: 0 1em 0 0;
}

#nav a {
  text-decoration: none;
  display: block;
  width: 5em;
  padding: 0 0.5em;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 18px;
  color: rgba(250, 250, 250, 0.8);
  border-bottom: 8px solid rgba(250, 250, 250, 0.7);
}

#nav a:hover {
  color: #FAFAFA;
  border-color: #FAFAFA;
}

#content {
  clear: both;
  margin: 0 40px 30px 225px;
  border-top: 0;
  padding: 30px;
  min-height: 1000px;
  min-width: 675px;
}

.badge_required {
  font-weight: bold;
  color: black;
}

.badge_optional {
  font-weight: normal;
  color: darkgrey;
}

#wall-post-box {
  width: 400px;
}

#wall-post-textbox {
  float: left;
  margin: 0;
  width: 100%;
  height: 5em;
}

#wall-post-error {
  float: left;
  color: red;
}

#wall-post-button-box {
  float: right;
}
